<div class="container-fould">
 <div>
  <%= image_tag "back.jpg", class: "d-block w-100", alt: "....." %>
  <div class="over" id="makeImg">
  <h1>~地方の風変わり所~</h1>
  ようこそ地方の風変わり所へ！</br>
  ここでは他県にあまり知られていないだけで地方では有名なお店を</br>
  みんなで共有し、出かける際いつもと違う場所で新しい発見があれば思います。</br>
  ぜひ、皆さんの地方の隠れた名店を教えてください！</br>
  </div>
 </div>
</div>


