<h1>~地方の風変わり所~</h1>

<p>ようこそ地方の風変わり所へ！ここでは他県にあまり知られていないだけで</br>
   地方では有名なお店をみんなで共有し、出かける際いつもと違う場所で</br>
   新しい発見があれば思います。ぜひ、皆さんの地方の隠れた名店を教えてください！</br>
</p>

<div class="card" style="width: 18rem;">
  <svg class="bd-placeholder-img card-img-top" width="50%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

