@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color         : #000000;              /* 文字色               */
}

 body {
   background-image: url("../images/haikei.jpg");
   background-repeat     : no-repeat; /*背景画像を繰り返さないよう指定*/
   background-size: cover;
   color         : #000000;              /* 文字色               */
 }

 main{
   padding-bottom: 56px;
 }

/* --- 文字BOX(子要素) ------------------ */
.over {
  position   : absolute;                   /* 親要素からの絶対位置 */
  box-sizing : border-box;
  white-space: nowrap;                     /* 折返しなし */
  display    : inline-block;               /* 文字囲みのBOXにする */
  color      : rgba(0, 0, 0, 0.90);    /* 文字色（透明度） */
  background : rgba(255, 255, 255, 0.41);  /* 背景色（透明度） */
  top        : 67%;                        /* 親要素からの上位置 */
  left       : 50%;                        /* 親要素からの左位置 */
  transform  : translate(-50%, -67%);      /* 文字BOXの位置ずらし */
  padding    : 10px;                       /* BOX内の余白 */
  font-size  : 22pt;                       /* 文字サイズ */
  font-weight: bold;                       /* 太字 */
  line-height: 1em;                        /* 1行の高さ */
}

.tagbox {
  margin        : 10px;                 /* サンプル用 中央寄せ  */
  box-sizing    : border-box;           /* 罫線も含む長さ       */
  width         : 100%;                 /* BOXの幅              */
  max-width     : 500px;                /* BOXの最大幅          */
  padding       : 23px;                 /* 文字の位置合わせ     */
  text-align    : center;               /* 文字位置             */
  color         : #000000;              /* 文字色               */
  border        : 7px dotted #7f4600;   /* 枠線の指定           */
  border-radius : 1px;                  /* 角丸の指定           */
  background    : #ffcc99;              /* BOXの背景色          */
}

.tbody{
  margin-right  : 10px;
  box-sizing    : border-box;           /* 罫線も含む長さ       */
  width         : 100%;
  border        : 8px solid #ffffff;   /* 枠線の指定           */
  border-radius : 1px;                  /* 角丸の指定           */
  background    : #ffffff;              /* BOXの背景色          */
}

.tableArea {
  border-collapse: separate;         /* 境界線結合 */
  border-spacing : 9px;            /* 罫線間余白 */
  font-size      : 9pt;              /* 文字サイズ */
}


.balloon {
  position   : relative;                /* 指定した分だけ相対的に移動 */
  padding: 10px;                        /* テキストの前後の余白 */
  background-color: rgba(255, 255, 255, 0.94);       /* 背景色（透明度） */
  width:420px;                          /* 吹き出し全体の幅 */
  left : 50%;                           /* 表示位置 */
  transform: translate(-50%);           /* 表示位置の調整 */
}
.balloon:after{
  border-bottom: 20px solid rgba(255, 255, 255, 0.94); /* 吹き出し口の高さ・色 */
  border-left: 10px solid transparent;    /* 吹き出し口の幅１／２ */
  border-right: 10px solid transparent;   /* 吹き出し口の幅１／２ */
  top: -20px;                             /* 吹き出し口の位置調整 */
  left : 0%;                      /* 吹き出し口の横位置 */
  content: "";                       /* コンテンツの挿入 */
  position: absolute;                /* 親要素を基準 */
}


.textbox {
  overflow-x    : hidden;
	overflow-y    : scroll;
	padding       : 25px;
	height        : 500px;
  margin        : auto;                 /* サンプル用 中央寄せ  */
  box-sizing    : border-box;           /* 罫線も含む長さ       */
  width         : 95%;                 /* BOXの幅              */

  background    : #ffcc99;              /* BOXの背景色          */
  border        : 10px inset #7f4600;   /* 枠線の指定           */
  border-radius : 13px;                  /* 角丸の指定           */
}

.tableArea2 {
  width          : 100%;             /* 100%幅     */
  max-width      : 500px;                /* BOXの最大幅          */
  height         : 400px;                 /* サンプルBOXの幅     */
  border-collapse: collapse;         /* 境界線結合 */
  border-spacing : 0;                /* 罫線間余白 */
  font-size      : 12pt;              /* 文字サイズ */
}
 /* --- 見出しのスタイル指定 ------------------- */
.tableArea2 th {
  text-align    : left;              /* 文字位置   */
  font-weight   : bold;              /* 太文字     */
  font-size     : 17px;
  padding       : 6px 0px;           /* 余白       */
}
 /* --- 内容のスタイル指定 ----------------------- */
.tableArea2 td {
  text-align    : left;              /* 文字位置   */
  padding       : 6px 0px;           /* 余白       */
  font-size     : 17px;
}

.textarea {
	padding       : 25px;
	height        : 100px;
  margin        : auto;                 /* サンプル用 中央寄せ  */
  box-sizing    : border-box;           /* 罫線も含む長さ       */
  width         : 95%;                 /* BOXの幅              */

  background    : #ffcc99;              /* BOXの背景色          */
  border-right  : 10px inset  #7f4600;   /* 枠線の指定           */
  border-bottom : 10px inset  #7f4600;   /* 枠線の指定           */
  border-left   : 10px inset  #7f4600;   /* 枠線の指定           */
  border-radius : 5px;                  /* 角丸の指定           */
}

.tableedit {
  width          : 100%;             /* 100%幅     */
  border-collapse: collapse;         /* 境界線結合 */
  border-spacing : 0;                /* 罫線間余白 */
  font-size      : 9pt;              /* 文字サイズ */
}
 /* --- 見出しーのスタイル指定 ------------------- */
.tableedit th {
  text-align    : left;              /* 文字位置   */
  font-weight   : bold;              /* 太文字     */
  padding       : 16px 0 16px 16px;           /* 余白       */
  font-size     : 16px     ;
}
 /* --- 本文のスタイル指定 ----------------------- */
.tableedit td {
  text-align    : left;              /* 文字位置   */
  font-weight   : bold;              /* 太文字     */
  padding       : 16px 16px;           /* 余白       */
  font-size     : 15px     ;
}


/*ヘッダーボタンの設定*/
.css-button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #57cc99;
  color: #000000;
}
.css-button:hover {
  color: #fff;
}
.css-button:hover:after {
  width: 100%;
}
.css-button:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.5s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #6B8E23;
}

//編集ボタンのCSS
.edit-button {
  min-width: 130px;
  height: 40px;
  color: #000000;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #48D1CC;
  box-shadow: 0 7px #005257;
}
.edit-button:hover {
  box-shadow: 0 3px #005257;
  color: #fff;
  top: 1px;
}
.edit-button:active {
  box-shadow: 0 0 #005257;
  top: 7px;
}

//削除ボタンのCSS
.destroy-button {
  min-width: 130px;
  height: 40px;
  color: #000000;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #ef233c;
  box-shadow: 0 7px #d90429;
}
.destroy-button:hover {
  box-shadow: 0 3px #d90429;
  color: #fff;
  top: 1px;
}
.destroy-button:active {
  box-shadow: 0 0 #d90429;
  top: 7px;
}


//一覧ボタンのCSS
.index-button {
  min-width: 130px;
  height: 40px;
  color: #000000;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #6B8E23;
  box-shadow: 0 7px #526c1e;
}
.index-button:hover {
  box-shadow: 0 3px #526c1e;
  color: #fff;
  top: 1px;
}
.index-button:active {
  box-shadow: 0 0 #526c1e;
  top: 7px;
}


 .textback {
   background-image: url("../images/textback.jpg");
   background-repeat     : no-repeat; /*背景画像を繰り返さないよう指定*/
 }



.tableM {
  margin-left    : auto;             /* 自動位置   */
  margin-right   : auto;             /* 自動位置   */
  border-collapse: collapse;         /* 境界線結合 */
  border-spacing : 0;                /* 罫線間余白 */
  width         : 100%;
  font-size      : 15pt;              /* 文字サイズ */
  background     : #ffffff;          /* テーブル全体の背景色 */
}
 /* --- ヘッダーのスタイル指定 ------------------- */
.tableM th {
  text-align    : center;            /* 文字位置   */
  font-weight   : bold;              /* 太文字     */
  padding       : 0px 2px;           /* 余白       */
  border        : 1px #666666 solid; /* 罫線       */
  background    : #ccff99;           /* 背景色     */
}
 /* --- 明細のスタイル指定 ----------------------- */
.tableM td {
  text-align    : center;            /* 文字位置   */
  font-weight   : bold;              /* 太文字     */
  padding       : 0px 2px;           /* 余白       */
  border        : 1px #666666 solid; /* 罫線       */
}
