<h1>mypage ページ</h1>

<table class="table">
    <tr>
        <th>お名前</th>
        <td><%= @member.name %></td>
    </tr>
    
    <tr>
        <th>メールアドレス</th>
        <td><%= @member.email %></td>
    </tr>
    
    <tr>
        <th><%= link_to "編集する", members_information_edit_path %></th>
        <td></td>
    </tr>
</table>
